@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700&display=swap');

* {

    box-sizing: border-box;
}

/*shared items*/
.font-family {
    font-family: Work Sans;
}

/*nav item style*/

.nav-container {
    max-width: 1400px;
    display: flex;
    margin: 0px auto;
    align-items: center;

}

.nav-logo {
    width: 50%;
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-right: 20px;
}

.nav-logo img {
    width: 5rem;
    object-fit: cover;

}

.nav-logo p {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
}

.nav-logo p .g-style {
    color: #FF42A5;
}

.nav-item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.nav-item a {
    text-decoration: none;
    color: #3C354F;

    font-size: 1rem;
    font-weight: 500;
}


.follow-btn {
    background-color: gray;

    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    gap: 16px;
    display: flex;
    align-items: center;

}

.follow-btn .icon {
    color: #F61C0D;
}

.follow-btn .tiktok {
    color: rgb(92, 20, 40);
}

/*nav style finished*/
/*banner style*/
.banner-container {
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    background: #FFF;
    align-items: center;
    justify-content: center;
}

.banner-content {
    width: 50%;
    text-align: center;
    justify-content: center;

}

.play-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat-title {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
}

.banner-para {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-content .banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.sign-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.go-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-img {
    width: 50%;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;

}

/*banner section finished*/
/*online-game-container section style*/
main {
    max-width: 1400px;
    margin: 70px auto;
    margin-left: 70px;
    margin-right: 70px;
}

.online-game-container {

    align-items: center;
    width: 80%;
    text-align: center;
    justify-content: center;
    gap: 0px;
    padding-left: 50px;
}

.online-game {
    justify-content: center;
}

.game-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.game-title .game-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.game-para {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}


.online-game-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    padding: 0;

    width: 342px;
    height: 400px;
}



/*online game end*/
/*play game start*/
.play-game-container {
    display: flex;
    align-items: center;
    padding: 50px;
    max-width: 1400px;

}

.play-game-content {
    width: 50%;
    align-items: center;
    background: #FFF;
    justify-content: center;
    padding: 80px;
    top: 50px;
    bottom: 50px;


}

.play-game-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;

}

.game-img {
    position: relative;
    padding: 50px;

}

.play-game-img {
    height: 90%;

}

.game-img .small-img {
    bottom: 100px;
    position: relative;
    right: 0;
}

.play-game-title .play-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.play-des {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    top: 50px;



}


/*icon style*/
.icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.icon-btn {
    border-radius: 50px;
    background: #FFFFFF;
    color: #3C354F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}


.icon-title {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    gap: 16px;
}

/*icon style finished*/
.footer {
    width: 80%;
    height: 640px;
    background: #0B0223;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 200px;
}

.footer-para {
    display: flex;
    text-align: justify;
    gap: 30px;

}

.footer-icon {
    display: flex;
    text-align: justify;
    gap: 30px;
    position: relative;
    width: 40px;
    height: 40px;

}

.span-icon {
    width: 57.13px;
    height: 40px;
    position: relative;
    display: inline;
}

.footer-des {
    display: flex;
    text-align: justify;
    gap: 70px;

}

.footer-end {
    align-items: center;
    padding-right: 300px;
}

.end {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
}


/*media query*/
/*for mobile*/
@media screen and (max-width:576px) {

    .nav-container,
    .nav-item,
    .banner-container,
    .banner-img,
    .game-title,
    .play-game-container,
    .play-game-content {
        flex-direction: column;
    }

    .nav-logo {
        flex-direction: row;
    }

    .follow-btn {
        flex-direction: row;
        padding: 10px 10px;
        gap: 0;

    }

    .nav-item a {
        margin-top: 20px;
    }

    .nav-container {
        padding: 20px;
    }

    .goat-title {
        font-size: 40px;
        padding: 0;

    }

    .banner-content .banner-btn {
        padding: 10px;

    }

    .banner-img {
        width: 100%;

    }

    .online-game-img {
        flex-direction: row;
        grid-template-rows: 1f;
        width: 100%;

    }

    .game-title {
        font-size: 20px;
        text-align: left;
    }

    .game-title .game-span {
        font-size: 20px;
    }

    .game-para {
        font-size: .7rem;
        text-align: left;
    }

    .icon-container {
        grid-template-columns: 3;
    }

    .play-des {
        width: 50px;
        text-align: center;
        flex-direction: column;
    }

    .footer {
        width: 100%;
        margin-bottom: 50px;
    }
}






/*for medium devices*/
@media screen and(min-width:576px) and (max-width:960px) {

    .nav-container,
    .nav-logo,
    .nav-item,
    .banner-img,
    .banner-container,
    .icon-btn {
        flex-direction: column;
    }

    .follow-btn {
        flex-direction: row;
        gap: 0px;
        padding: 0;



    }

    .nav-ite {
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .banner-content .banner-btn {
        padding: 10px;

    }

    .banner-img {
        width: 100%;
        margin-right: 10px;
        height: 50px;


    }

    .online-game-img {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }



    .footer {
        width: 100%;
    }


}